Bao_cao_chi_tiet_VTKHC2/
Bao_cao_du_lieu_don_hang/
Danh_sach_nhan_vien/
Du_lieu_danh_muc_khachhang/
Units/
Thong_Tin_San_Pham/
dags/__pycache__/
.gitignore
2nong/2nong_price/
Summary/
x.py
Selenium copy.py
DMS_DOWNLOAD/
TinTongHop.log
DMS_daily/
