Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20230919134027.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20230919134354.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20230919135355.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20230921214248.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20230921214553.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20230921215119.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20230921221356.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20230923222104.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20230925134638.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231001152019.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231001171323.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231002080136.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231002222502.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231009080140.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231009083425.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231016095458.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231023082753.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231023083207.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231031082048.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231101150233.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231102090503.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231103080148.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231104075129.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231105000127.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231106040125.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231106083545.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231108103215.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231109040129.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231110040126.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231111040122.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231112040131.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231113040133.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231113080156.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231115040120.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231116083048.xlsx
Bao_cao_chi_tiet_VTKHC2/Bao_cao_chi_tiet_VTKHC2_20231117040130.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20230919134036.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20230919134403.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20230919135405.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20230921214258.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20230921214600.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20230921215129.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20230921221406.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20230923222113.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20230925134648.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20230928141645.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20230928143925.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231001151952.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231001171332.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231002080146.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231002222512.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231009080150.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231009083434.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231016095508.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231023082804.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231023083219.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231031082058.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231031231950.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231101150243.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231102090513.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231103080157.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231104075137.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231105000136.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231106040135.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231106083554.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231107040137.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231108103225.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231109040138.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231110040135.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231111040132.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231112040140.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231113040142.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231113080205.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231114040136.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231115040129.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231116083057.xlsx
Bao_cao_du_lieu_don_hang/Bao_cao_du_lieu_don_hang_20231117040140.xlsx
Danh_sach_nhan_vien/Danh_sach_nhan_vien20230919133451.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20230919134018.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20230919134345.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20230919135347.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20230921214020.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20230921214238.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20230921214541.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20230921215108.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20230921221346.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20230923222056.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20230925134629.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20231001171315.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20231002080128.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20231002222452.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20231009080132.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20231009083415.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20231016095450.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20231023082741.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20231023083157.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20231031082038.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20231106083537.xls
Danh_sach_nhan_vien/Danh_sach_nhan_vien20231113080147.xls
Du_lieu_danh_muc_khachhang/20230919133433_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20230919133959_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20230919134327_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20230919135328_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20230920163505_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20230921213959_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20230921214217_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20230921214520_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20230921215048_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20230921221326_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20230923222038_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20230925134611_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231001171258_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231002080109_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231002222432_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231004132845_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231009080112_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231009083355_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231016095430_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231023082721_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231023083134_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231023084813_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231031082019_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231106083519_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231108092436_Du_lieu_danh_muc_khachhang.xlsx
Du_lieu_danh_muc_khachhang/20231113080128_Du_lieu_danh_muc_khachhang.xlsx
Units/Units20230919133446.xls
Units/Units20230919134013.xls
Units/Units20230919134339.xls
Units/Units20230919135341.xls
Units/Units20230921214014.xls
Units/Units20230921214232.xls
Units/Units20230921214535.xls
Units/Units20230921215103.xls
Units/Units20230921220521.xls
Units/Units20230923222051.xls
Units/Units20230925134624.xls
Units/Units20231001171310.xls
Units/Units20231002080123.xls
Units/Units20231002222446.xls
Units/Units20231009080125.xls
Units/Units20231009083409.xls
Units/Units20231016095445.xls
Units/Units20231023082736.xls
Units/Units20231023083151.xls
Units/Units20231031082033.xls
Units/Units20231106083532.xls
Units/Units20231108092723.xls
Units/Units20231113080140.xls
Thong_Tin_San_Pham/20231114231514_Thong_Tin_San_Pham.xlsx
Thong_Tin_San_Pham/20231116083834_Thong_Tin_San_Pham.xlsx
